[buildout]
extensions = buildout.environ
environ-required =
    PACKAGE

parts = test

sandbox = ${buildout:directory}/../../sandbox
eggs-directory = ${buildout:sandbox}/eggs
download-cache = ${buildout:sandbox}/downloads
abi-tag-eggs = false

[test]
recipe = zc.recipe.egg
eggs = ${__environ__:PACKAGE}

[versions]
# zc.recipe.egg 6.0.0 declares zc.buildout>=6.0.0; this checkout ships
# 5.3.0a3.dev0, so resolution must stay below the 6.x line until the
# branch converges on 6.x itself.
zc.recipe.egg = <6.0.0
